<h1>Bienvenido al mantenimiento de personas</h1>
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu hamburger"> 
    <mat-icon>dehaze</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>trending_flat</mat-icon>
      <span  routerLink="/personas">Listar formato tabla</span>
    </button>
    <button mat-menu-item>
      <mat-icon>trending_flat</mat-icon>
      <span routerLink="/personasCard">Listar formato detalle</span>
    </button>
    <button mat-menu-item>
      <mat-icon>trending_flat</mat-icon>
      <span routerLink="/crearPersona">Crear persona</span>
    </button>
  </mat-menu>