/* personasComponent's private CSS styles */
#new-person-name{
  width:13%;
}
#new-person-city{
  width:13%;
}
.personas {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.personas li {
  position: relative;
  cursor: pointer;
}

.personas li:hover {
  left: .1em;
}

.personas a {
  color: #fafafa;
  text-decoration: none;
  background-color: rgb(113, 150, 219);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  font-size: 18px;
  display: block;
  width: 100%;
}

.personas a:hover {
  color: #fafafa;
  background-color: rgb(70, 132, 248);
}

.personas a:active {
  background-color: #525252;
  color: #fafafa;
}

.personas .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  position: absolute;
  left: 210px;
  top: 5px;
  background-color: white;
  color:  #525252;
  font-size: 1.1rem;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}
.botonAccion{
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.15385;
  margin-left: 8px;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
}

.botonAccion:hover,
.botonAccion:focus {
  background-color: #07c;
}

.botonAccion:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.botonAccion:active {
  background-color: #0064bd;
  box-shadow: none;
}