<div class="container">

    <div class="login-form-wrapper">
        <span class="head-form">CRMJaén</span>
        <small *ngIf="resetPassError">Ha ocurrido un error, vuelva a intentarlo</small>
        <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
            <label for="password">
                Contraseña
            </label>
            <input id="password" type="password" formControlName="password" name="password">
            <label for="passwordVerify">
                Repita contraseña
            </label>
            <input id="passwordVerify" type="password" formControlName="passwordVerify" name="passwordVerify">
            <button [disabled]="resetPassForm.invalid" type="submit">CONFIRMAR CONTRASEÑA</button>
        </form>
    </div>

</div>