<div class="login">
  <div class="login--form">
    <div class="login--form--flag">
      <img src="/assets/img/esp.png" class="login--form--flag--img" (click)="useLanguageOnClick('es')">
      <img src="/assets/img/eng.png" class="login--form--flag--img" (click)="useLanguageOnClick('en')">
    </div>
    <div class="login--form--header">
      <img class="login--form--header--img" src="/assets/img/yiyis-best.jpg">
      <span class="login--form--header--title">{{'login.welcome' | translate}}</span>
    </div>
    <div *ngIf="!forgotPassword; else forgotTemplate">
      <div class="login--form--messages">
        <p-messages [(value)]="welcomeMessage" [enableService]="false" [closable]="false"></p-messages>
      </div>
      <div class="login--form--wrapper">
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="login--form--wrapper--form">
          <label for="username">
            {{'login.user' | translate}}
          </label>
          <input id="username" type="text" formControlName="username" name="username" class="login--form--wrapper--form--input"
            pInputText>
          <label for="password">
            {{'login.password' | translate}}
          </label>
          <input id="password" formControlName="password" type="password" name="password" class="login--form--wrapper--form--input"
            pInputText>
          <br>
          <div class="p-field-checkbox">
            <p-checkbox inputId="remember"></p-checkbox>
            <label for="remember"> {{'login.remember' | translate}}</label>
          </div>
          <br>

          <small *ngIf="loginError" class="login--form--wrapper--form--error">{{'login.error' | translate}}</small>
          <div class="login--form--wrapper--form--buttons">
            <button pButton pRipple [disabled]="loginForm.invalid" type="submit"
              label="{{'login.loginButton' | translate}}"></button>
            <div id="gSignInWrapper" (click)="loginWithGoogle()">
              <button pButton pRipple type="button" class="p-button-danger">
                <span class="icon"><img src="../../../../../assets/icons/google.svg"></span>
                <span class="button-text">{{'login.google' | translate}}</span>
              </button>
            </div>
          </div>
        </form>
        <br>
        <a (click)="forgotPassword = !forgotPassword"
          class="login--form--wrapper--pointer"><small>{{'login.forgotPassword' | translate}}</small></a>
      </div>
    </div>
    <ng-template #forgotTemplate>
      <div class="login--form--messages">
        <p-messages [(value)]="forgotMessage" [enableService]="false" [closable]="false" class="loginMessages">
        </p-messages>
      </div>
      <div class="login--form--wrapper">
        <form [formGroup]="forgorPassForm" (ngSubmit)="forgorPassword()" class="login--form--wrapper--form">
          <label for="email">
            {{'forgot.email' | translate}}
          </label>
          <input id="email" class="login--form--wrapper--form--input" type="email" formControlName="email" name="email" pInputText>
          <button pButton pRipple [disabled]="forgorPassForm.invalid" type="submit"
            label="{{'forgot.recover' | translate}}" class="p-button-warning"></button>
        </form>

        <a (click)="forgotPassword = !forgotPassword"
          class="login--form--wrapper--pointer"><small>{{'forgot.backLogin' | translate}}</small></a>
      </div>
    </ng-template>
    <div class="login--form--footer">
      <p>© {{year}} {{'login.footer' | translate}}</p>
    </div>
  </div>

  <div class="login--animationWrapper">
    <ul class="login--animationWrapper--bgBubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
 
</div>
