<div class="form-label-group inputLine">
  <label class="inputLine--label">
    {{this.config.props.label}}
    <span class="inputLine--required" *ngIf="this.config.props.required">
      *
    </span>
  </label>
  <div class="inputLine--fieldBox">
    <ng-container *ngFor="let option of this.config.props.options; let i = index">
      <p-radioButton [value]="option" id="{{option}}" name="{{this.config.props.name}}" [(ngModel)]="model[property]">
      </p-radioButton>
      <label for="{{option}}">
        {{this.config.props.values[i]}}
      </label>
    </ng-container>
  </div>
</div>