$colors: (
  "blue": #2196f3,
  "green": #4caf50,
  "yellow": #fbc02d,
  "cyan": #00bcd4,
  "pink": #e91e63,
  "indigo": #3f51b5,
  "teal": #009688,
  "orange": #f57c00,
  "bluegray": #607d8b,
  "purple": #9c27b0,
);

$fontFamily: 'Nunito', sans-serif !default;

// Theme Specific Variables
$primaryColor: #ffb873;
$primaryDarkColor: #ffead5;
$primaryDarkerColor: #ffa44b;
$primaryTextColor: #ffffff;
$secundaryTextColor: #6c6c6c;
$linkTextColor: #0195fc;
$backgroundCrossMenu: #043f80;

$color-background:white;
$color-error:red;
$alpha-background:1.2;
$login-padding-top:15px;
$login-padding-right:10px;


:root {
  --surface-a: #ffffff;
  --surface-b: #f8f9fa;
  --surface-c: #e9ecef;
  --surface-d: #dee2e6;
  --surface-e: #ffffff;
  --surface-f: #ffffff;
  --text-color: #495057;
  --text-color-secondary: #6c757d;
  --primary-color: #{$primaryColor};
  --primary-color-text: #{$primaryTextColor};
  --font-family: #{$fontFamily};
  --surface-0: #ffffff;
  --surface-50: #fafafa;
  --surface-100: #f5f5f5;
  --surface-200: #eeeeee;
  --surface-300: #e0e0e0;
  --surface-400: #bdbdbd;
  --surface-500: #9e9e9e;
  --surface-600: #757575;
  --surface-700: #616161;
  --surface-800: #424242;
  --surface-900: #212121;
  --surface-ground: #f8f9fa;
  --surface-section: #ffffff;
  --surface-card: #ffffff;
  --surface-overlay: #ffffff;
  --surface-border: #dee2e6;
  --surface-hover: #e9ecef;
}

