<div class="verticalmenu">
  <section class="verticalmenu__section">
    <aside *ngIf="!showMenu; else menuCollapsible">
      <section class="verticalmenu__section--logo">
        <a href="">
          <img class="verticalmenu__section--logo--img" src="/assets/img/yiyis-best.jpg">
        </a>
        CRMJAÉN
        <a (click)="changeMenuOnClick()">
          <i class="pi pi-bars verticalmenu__section--logo--button"></i>
        </a>
      </section>
      <p-panelMenu [model]="itemsExpanded" class="expandedVerticalMenu"></p-panelMenu>
    </aside>
    <ng-template #menuCollapsible>
      <section class="verticalmenu__section--logocollapsed">
        <a href="">
          <img class="verticalmenu__section--logocollapsed--img" src="/assets/img/yiyis-best.jpg">
        </a>
      </section>
      <p-tieredMenu [model]="itemsCollapsed" [autoDisplay]="true" class="collapsedVerticalMenu"></p-tieredMenu>
    </ng-template>
  </section>
</div>
