  <ng-container [ngSwitch]="inputs.type">
    <app-input-text *ngSwitchCase="'text'" [config]="inputs"></app-input-text>
    <app-input-email *ngSwitchCase="'email'" [config]="inputs"></app-input-email>
    <app-input-number *ngSwitchCase="'number'" [config]="inputs"></app-input-number>
    <app-input-date *ngSwitchCase="'date'" [config]="inputs"></app-input-date>
    <app-input-time *ngSwitchCase="'datetime'" [config]="inputs"></app-input-time>
    <app-input-select *ngSwitchCase="'select'" [config]="inputs"></app-input-select>
    <app-input-radio *ngSwitchCase="'radio'" [config]="inputs"></app-input-radio>
    <app-input-checkbox *ngSwitchCase="'checkbox'" [config]="inputs"></app-input-checkbox>
  </ng-container>
