<h1>Listado apaisado de personas</h1>
<div cdkDropList id="container" (cdkDropListDropped)="drop($event)">
  <mat-card class="example-card" *ngFor="let person of personas" cdkDrag>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{person.id}}: {{person.name}}</mat-card-title>
      <mat-card-subtitle>{{person.rol}}</mat-card-subtitle>
      <mat-card-subtitle>Ver detalle <input type="checkbox" id="checkDetalle{{person.id}}"></mat-card-subtitle>
      <mat-card-subtitle id="errorDetalle{{person.id}}" class="errorDetalle"></mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="person.rol.toString()=='Estudiante'" mat-card-image src="https://content.presspage.com/uploads/1093/1920_10-9kevinmendozastudentprofile-lt-006-970810.jpg" alt="Imagen estudiante">
    <img *ngIf="person.rol.toString()=='Profesor'" mat-card-image src="https://content.sitemasonry.gmu.edu/sites/g/files/yyqcgq336/files/content-image/Thomas%20LaToza%20edited%20main%20photo.png" alt="Imagen profesor">
    <mat-card-content> 
      <p>
        <b>Nombre:</b> {{person.name}} <br>
      <b>Lugar de residencia:</b> {{person.city}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/update/{{person.id}}">Editar</button>
      <button mat-button routerLink="/delete/{{person.id}}">Borrar</button>
      <button mat-button routerLink="/detailModal/{{person.id}},{{person.name}},{{person.city}}">Ver detalle</button>
    </mat-card-actions>
  </mat-card>
</div>