h1,
.h1 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
}

h2,
.h2 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

h3,
.h3 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.paragraph {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.paragraph-bold {
  font-family: "Nunito", sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 15px;
}

.paragraph_large {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.menu_extrabold {
  font-family: "Nunito", sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 18px;
}

.menu_bold {
  font-family: "Nunito", sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 15px;
}
