.menubarNavmenu {
  &--profileIcon {
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 10px;
  }

  &--button {
    padding-right: 40px;
    display: inline;

    &--overlaypanel--iconsmall {
      width: 50px;
    }

    &--overlaypanel--icon {
      width: 30px;
    }

    &--messageButton {
      font-size: 1.5rem;
    }
  }
}
