<p-menubar class="menubarNavmenu">
  <ng-template pTemplate="start">
    <div *ngIf="showMenu" class="menubarNavmenu--button">
      <a (click)="changeMenuOnClick()"><i class="pi pi-bars"></i></a>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="menubarNavmenu--button">
      <i (click)="op.toggle($event)" class="pi pi-th-large p-mr-4 p-text-secondary"></i>
      <p-overlayPanel #op [showCloseIcon]="false" class="menubarNavmenu--button--overlaypanel">
        <ng-template pTemplate>
          <div>
            <img src="/assets/img/linkedin.png" class="menubarNavmenu--button--overlaypanel--icon">
            <p>LinkedIn</p>
          </div>
          <div>
            <img src="/assets/img/Teams.png" class="menubarNavmenu--button--overlaypanel--iconsmall">
            <p>Teams</p>
          </div>
        </ng-template>
      </p-overlayPanel>
    </div>
    <div class="menubarNavmenu--button">
      <i class="pi pi-envelope p-text-secondary menubarNavmenu--button--messageButton" pBadge severity="danger"></i>
    </div>
    <div class="menubarNavmenu--button">
      <i (click)="display = true" label="Show" class="pi pi-bell p-mr-4 p-text-secondary" pBadge value={{notifications}}>
      </i>
      <p-sidebar [(visible)]="display" position="right">
        Content
      </p-sidebar>
    </div>
    <p-button styleClass="p-button-outlined" (click)="menu.toggle($event)">
      <img class="menubarNavmenu--profileIcon" alt="icon" src="/assets/img/profile-icon.jpg" />
      <span class="p-ml-2 p-text-bold">Usuario</span>
    </p-button>
    <p-menu #menu [popup]="true" [model]="items"></p-menu>
  </ng-template>

</p-menubar>
