<div>
  <p-card>
    <p-table [value]="data" [columns]="columns" [autoLayout]="true" [resizableColumns]="true" [paginator]="true"
      [rows]="5" [rowsPerPageOptions]="[5,10,15]">
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn *ngFor="let col of columns">
            {{col.name}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <ng-container *ngFor="let header of columns">
            <td *ngIf="header.id===typeColumn.Picture else noPicture">
              <img src="{{data[header.id]}}">
            </td>
            <ng-template #noPicture>
              <td *ngIf="header.id===typeColumn.Actions else noButtons">
                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded"
                  (click)="onClickActionButton('edit', data['id'])"></button>
                <button pButton pRipple type="button" icon="pi pi-times"
                  (click)="onClickActionButton('delete', data['id'])" class="p-button-rounded p-button-danger"></button>
              </td>
              <ng-template #noButtons>
                <ng-container [ngSwitch]="header.dataType">
                  <td *ngSwitchCase="'boolean'">
                    <ng-container *ngIf="data[header.id] else notTrue">
                      <i class="pi pi-check"></i>
                    </ng-container>
                    <ng-template #notTrue>
                      <i class="pi pi-times"></i>
                    </ng-template>
                  </td>
                  <td *ngSwitchCase="'date'">
                    {{data[header.id]| date:"dd/MM/yyyy"}}
                  </td>
                  <td *ngSwitchCase="'datetime'">
                    {{data[header.id]| date:"hh:mm"}}
                  </td>
                  <td *ngSwitchDefault>
                    {{data[header.id]}}
                  </td>
                </ng-container>
              </ng-template>
            </ng-template>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
