<div>
    <p-card>
        <p-table [value]="data" [columns]="columns" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <!-- let-columns -->
                <tr>
                    <!--<th style="width: 60px;">Foto</th>-->
                    <th *ngFor="let col of columns">{{col.name}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <ng-container *ngFor="let header of columns">
                        <td *ngIf="header.id=='picture'; else noPicture"><img src="{{data[header.id]}}"
                                style="border-radius: 50%;" alt="Foto empleado" width="40px" height="40px"></td>
                        <ng-template #noPicture>
                            <td *ngIf="header.id=='actions'; else noButtons">
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                    class="p-button-rounded"></button>
                                <button pButton pRipple type="button" icon="pi pi-envelope"
                                    class="p-button-rounded p-button-secondary"></button>
                                <button pButton pRipple type="button" icon="pi pi-times"
                                    class="p-button-rounded p-button-danger"></button>
                            </td>
                            <ng-template #noButtons>
                                <td>{{data[header.id]}}</td>
                            </ng-template>
                        </ng-template>

                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>