<div class="card" *ngIf="fields">
    <h5>{{title}}</h5>
    <p-table #dt [value]="fields" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="p-mt-3">
        <ng-template pTemplate="body" let-fields>
            <tr>
                <td style="width:200px">{{fields[0]}}</td>
                <td *ngFor="let item of fields[1]">
                    <p-checkbox [(ngModel)]="fieldsSelected" [value]="item.id"></p-checkbox>
                    {{item.permission}}
                </td>
            </tr>
        </ng-template>

    </p-table>
    <br>
    <div>
        <button (click)="guardar()">Guardar</button>
    </div>

</div>